# Integrations
FOOTBALL_DATA_API_KEY=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
TELEGRAM_BOT_TOKEN=
RESEND_API_KEY=
RESEND_FROM_DOMAIN=
CRON_SECRET=

# Auth
ADMIN_EMAIL=
SESSION_SECRET=
APP_URL=http://localhost:3000
